.story{
 width:100%;
 margin: 0 auto;
 box-shadow: 0 3rem 66rem rgba($color-black, .1);
 background-color: rgba($color-white, .6);
 border-radius: $small-border-radius;
 padding: 6rem;
 font-size: $default-font-size;
 transform: skewX(-12deg);
 &__text{
  transform: skewX(12deg);
  h3{
   color: $color-secondary-light;
  }
 }
}
