// Grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;

// Colors
$color-primary:#20bee8;
$color-primary-light:#6acfee;
$color-primary-dark:#00a9db;

$color-secondary-light:#ff8d1b;
$color-secondary-dark:#f68b1f;

$color-tertiary-light: #9ced99;
$color-tertiary-dark: #7aba7a;

$color-quad-light: #74C2E1;
$color-quad-dark: #0191C8;

$color-white:#ffffff;

$color-grey-dark:#b2b2b2;
$color-grey-dark-2:#999;
$color-grey-dark-3: #333;

$color-black:#000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$default-font-size:1.6rem;

$small-border-radius: 3px;
